.img-circle{
  width: 48%;
}

@media only screen and (max-width: 500px) {
  .img-circle{
    width: 200%;
    height: 240px;
    border-radius: 150px;
    padding: -20px
  }
}

row{
  padding-left: 10px
}

.col-xs-12{

}
